.Field {
  display: block;
  margin: 10px 0;
}

.Field_fullWidth {
  width: 100%;
}

.Field_fullWidth .Field-input {
  display: block;
  width: 100%;
}

.Field-label {
  margin-bottom: 4px;
  font-size: 10px;
}

.Field-input {
  padding: 5px 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  outline: 0;
  &:focus {
    border-color: #000000;
  }
  &:invalid {
    border-color: #D91313;
  }
}