.Page {
  height: 100%;
  padding: 0 64px 32px 32px;
  overflow-x: auto;
  overflow-y: scroll;
}

.Page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Page-headerTitle {

}

.Page-headerAction {

}